@import url("https://use.typekit.net/oeb0mhu.css");
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: "proxima-nova", sans-serif;
  }
}

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.shadow-bottom-black {
  box-shadow: 0 18px 16px -16px rgba(0, 0, 0, 0.2);
}

.inset-shadow-left-right-black {
  box-shadow: inset 18px 0 16px -16px rgba(0, 0, 0, 0.2),
  inset -18px 0 16px -16px rgba(0, 0, 0, 0.2);
}