@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.shadow-bottom-black {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
}

.inset-shadow-left-right-black {
  box-shadow: inset 8px 0 6px -6px rgba(0, 0, 0, 0.2),
  inset -8px 0 6px -6px rgba(0, 0, 0, 0.2);
}